---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import lillaC from "../assets/images/c_lilla.svg";
import lillaH from "../assets/images/lilla_h.svg";
import lillaA from "../assets/images/lilla_a.svg";
import lillaR from "../assets/images/lilla_r.svg";
import lillaM from "../assets/images/lilla_m.svg";
---

<MainLayout title="Titel">
  <!-- Hero sektion -->
  <section class="grid grid-cols-9 grid-rows-4 bg-[#292621]">
    <Image src={lillaC} alt="" class="col-start-1 row-start-1 col-span-2 row-span-2 h-[300px] w-auto" />
    <Image src={lillaH} alt="" class="col-start-3 row-start-2 col-span-2 row-span-2 h-[370px] w-auto" />
    <Image src={lillaA} alt="" class="col-start-5 row-start-1 col-span-2 row-span-2 h-[300px] w-auto" />
    <Image src={lillaR} alt="" class="col-start-6 row-start-3 col-span-3 row-span-2 h-[350px] w-auto" />
    <Image src={lillaM} alt="" class="col-start-8 row-start-2 col-span-3 row-span-2 h-[300px] w-auto" />
  </section>
  <!-- Om fonten -->
  <section class="bg-[#F5EDE2] grid grid-cols-2">
    <div>
      <h1 class="text-[80px]">Charm af Victoria</h1>
      <p class="max-w-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt facilis unde dicta alias sed commodi dignissimos accusantium ipsa sunt quos quia consequatur repudiandae, blanditiis debitis corrupti rem. Architecto, optio repudiandae!</p>
    </div>
    <div class="mx-auto">
      <Image src={lillaC} alt="" class="col-start-1 row-start-1 col-span-2 row-span-2 h-[300px] w-auto" />
    </div>
  </section>
</MainLayout>
